In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
prod_1 = pd.read_csv("./products.csv",usecols=['ProductID','ProductName'],index_col='ProductID')
prod_2 = pd.read_csv("./products.csv",usecols=['ProductID','UnitPrice','UnitsInStock'],index_col='ProductID')

In [4]:
prod_1.head()

                            ProductName
ProductID
1                                  Chai
2                                 Chang
3                         Aniseed Syrup
4          Chef Anton's Cajun Seasoning
5                Chef Anton's Gumbo Mix

In [5]:
prod_2.head()

           UnitPrice  UnitsInStock
ProductID
1              18.00            39
2              19.00            17
3              10.00            13
4              22.00            53
5              21.35             0

In [6]:
prod_1.join(prod_2).head()

                            ProductName  UnitPrice  UnitsInStock
ProductID
1                                  Chai      18.00            39
2                                 Chang      19.00            17
3                         Aniseed Syrup      10.00            13
4          Chef Anton's Cajun Seasoning      22.00            53
5                Chef Anton's Gumbo Mix      21.35             0

## Join basically works on indexes and merge on let's say values

#### We can use parameter 'on' to find what column in right table matches index in left