In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

cities = ['a','b','c','d']


cities

['a', 'b', 'c', 'd']

In [11]:
pd.Series(cities)

0    a
1    b
2    c
3    d
dtype: object

In [12]:
numbers = (1,2,3,4,5)
pd.Series(numbers)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
logical = [True,False]
pd.Series(logical)

0     True
1    False
dtype: bool

## Hash table == dictionary

In [14]:
filmography = {'Jaws' : 1975,
              'Indiana Jones' : 1981}
filmography

{'Jaws': 1975, 'Indiana Jones': 1981}

In [15]:
pd.Series(filmography)

Jaws             1975
Indiana Jones    1981
dtype: int64

## Index added - list
## index from 1st column - hash table