In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

monotonicList = (1,2,4,67,99)
monSeries = pd.Series(monotonicList)
monSeries

0     1
1     2
2     4
3    67
4    99
dtype: int64

In [3]:
monSeries.sum()

173

In [4]:
monSeries.min()

1

In [5]:
monSeries.max()

99

In [7]:
monSeries.mean()

34.6

In [8]:
monSeries.count()

5

In [9]:
monSeries.size

5

In [10]:
monSeries.product()

53064

In [11]:
monSeries.index

RangeIndex(start=0, stop=5, step=1)

In [12]:
monSeries.keys()

RangeIndex(start=0, stop=5, step=1)

In [13]:
monSeries.values

array([ 1,  2,  4, 67, 99], dtype=int64)

In [17]:
monSeries.tolist()

[1, 2, 4, 67, 99]

In [18]:
monSeries.add(10)

0     11
1     12
2     14
3     77
4    109
dtype: int64

In [19]:
newSeries = monSeries.add(10)

In [20]:
newSeries

0     11
1     12
2     14
3     77
4    109
dtype: int64

In [21]:
currencies = ['USD','EUR','PLN']
countries = ['USA', 'France', 'Poland']

In [23]:
curSeries = pd.Series(currencies,countries)

In [24]:
curSeries

USA       USD
France    EUR
Poland    PLN
dtype: object

## Shift + tab - see description of method

# In data series index can have the same value few times!!!

### (In dictionary not)