In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
frame = pd.read_csv("./Canadian Railway Crossing Incidents.csv")

In [2]:
frame.set_index(['Region','EventType'],inplace=True)
frame.sort_index(inplace=True)
frame.head()

                                   Public automated  Public passive  Private  \
Region           EventType
Alberta          Accidents                        3               7        2
                 Fatalities                       0               0        0
                 Serious injuries                 0               1        2
British Columbia Accidents                        4               1        0
                 Fatalities                       0               0        0

                                   Farm
Region           EventType
Alberta          Accidents            0
                 Fatalities           0
                 Serious injuries     0
British Columbia Accidents            0
                 Fatalities           0

In [3]:
frame.loc[("Alberta","Accidents")]

Public automated    3
Public passive      7
Private             2
Farm                0
Name: (Alberta, Accidents), dtype: int64

In [4]:
frame.loc["Alberta"]

                  Public automated  Public passive  Private  Farm
EventType
Accidents                        3               7        2     0
Fatalities                       0               0        0     0
Serious injuries                 0               1        2     0

In [5]:
frame.loc[("Alberta")]

                  Public automated  Public passive  Private  Farm
EventType
Accidents                        3               7        2     0
Fatalities                       0               0        0     0
Serious injuries                 0               1        2     0

In [6]:
frame.iloc[2]

Public automated    0
Public passive      1
Private             2
Farm                0
Name: (Alberta, Serious injuries), dtype: int64

In [7]:
frame.loc[("Alberta","Accidents")].loc['Private']

2