In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
frame = pd.read_csv("./Canadian Railway Crossing Incidents.csv")

In [2]:
frame.set_index(['Region','EventType'], inplace=True)
frame.head()

                               Public automated  Public passive  Private  Farm
Region       EventType
Newfoundland Accidents                        0               0        0     0
             Fatalities                       0               0        0     0
             Serious injuries                 0               0        0     0
Nova Scotia  Accidents                        1               0        0     0
             Fatalities                       0               0        0     0

In [3]:
frame.count()

Public automated    30
Public passive      30
Private             30
Farm                30
dtype: int64

In [5]:
frame.transpose() # change rows with columns

Region           Newfoundland                             Nova Scotia  \
EventType           Accidents Fatalities Serious injuries   Accidents
Public automated            0          0                0           1
Public passive              0          0                0           0
Private                     0          0                0           0
Farm                        0          0                0           0

Region                                       New Brunswick             \
EventType        Fatalities Serious injuries     Accidents Fatalities
Public automated          0                0             0          0
Public passive            0                0             0          0
Private                   0                0             0          0
Farm                      0                0             0          0

Region                               Quebec  ...     Saskatchewan   Alberta  \
EventType        Serious injuries Accidents  ... Serious injuries Accidents
Public automated                0         4  ...                0         3
Public passive                  0         0  ...                0         7
Private                         0         1  ...                0         2
Farm                            0         0  ...                0         0

Region                                       British Columbia             \
EventType        Fatalities Serious injuries        Accidents Fatalities
Public automated          0                0                4          0
Public passive            0                1                1          0
Private                   0                2                0          0
Farm                      0                0                0          0

Region                            Northwest Territories             \
EventType        Serious injuries             Accidents Fatalities
Public automated                3                     0          0
Public passive                  0                     0          0
Private                         0                     0          0
Farm                            0                     0          0

Region
EventType        Serious injuries
Public automated                0
Public passive                  0
Private                         0
Farm                            0

[4 rows x 30 columns]

### Swaplevel - changing order of multi index

In [6]:
frame = pd.read_csv("./Canadian Railway Crossing Incidents.csv")
frame.set_index(['Region','EventType'], inplace=True)
frame.head()

                               Public automated  Public passive  Private  Farm
Region       EventType
Newfoundland Accidents                        0               0        0     0
             Fatalities                       0               0        0     0
             Serious injuries                 0               0        0     0
Nova Scotia  Accidents                        1               0        0     0
             Fatalities                       0               0        0     0

In [8]:
frame.swaplevel().sort_index().head()

                            Public automated  Public passive  Private  Farm
EventType Region
Accidents Alberta                          3               7        2     0
          British Columbia                 4               1        0     0
          Manitoba                         1               3        0     2
          New Brunswick                    0               0        0     0
          Newfoundland                     0               0        0     0