In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
frame = pd.read_csv("./mammals.csv")

In [2]:
frame.head()

              name     body  brain
0       Arctic fox    3.385   44.5
1       Owl monkey    0.480   15.5
2  Mountain beaver    1.350    8.1
3              Cow  465.000  423.0
4        Grey wolf   36.330  119.5

In [3]:
frame.columns = ['name','bodyKg','brainKg']

In [4]:
frame.head()

              name   bodyKg  brainKg
0       Arctic fox    3.385     44.5
1       Owl monkey    0.480     15.5
2  Mountain beaver    1.350      8.1
3              Cow  465.000    423.0
4        Grey wolf   36.330    119.5

In [5]:
newCols = {"bodyKg":"body_Kg","brainKg":"brain_Kg"}
frame.rename(columns=newCols, inplace=True)
frame.head()

              name  body_Kg  brain_Kg
0       Arctic fox    3.385      44.5
1       Owl monkey    0.480      15.5
2  Mountain beaver    1.350       8.1
3              Cow  465.000     423.0
4        Grey wolf   36.330     119.5

In [8]:
frame.rename(index={1:'inf'},inplace=True)

In [9]:
frame.head()

                name  body_Kg  brain_Kg
0         Arctic fox    3.385      44.5
inf       Owl monkey    0.480      15.5
2    Mountain beaver    1.350       8.1
3                Cow  465.000     423.0
4          Grey wolf   36.330     119.5

# Assigning default by reference

In [10]:
frameCopy = frame

In [11]:
frameCopy.loc['inf','name'] = "Not Owl Monke"

In [12]:
frameCopy.head()

                name  body_Kg  brain_Kg
0         Arctic fox    3.385      44.5
inf    Not Owl Monke    0.480      15.5
2    Mountain beaver    1.350       8.1
3                Cow  465.000     423.0
4          Grey wolf   36.330     119.5

In [13]:
frame.head()

                name  body_Kg  brain_Kg
0         Arctic fox    3.385      44.5
inf    Not Owl Monke    0.480      15.5
2    Mountain beaver    1.350       8.1
3                Cow  465.000     423.0
4          Grey wolf   36.330     119.5

## Creating a copy:

In [14]:
frameCopy = frame.copy()

In [15]:
frameCopy.loc['inf','name'] = "Random"

In [16]:
frameCopy.head()

                name  body_Kg  brain_Kg
0         Arctic fox    3.385      44.5
inf           Random    0.480      15.5
2    Mountain beaver    1.350       8.1
3                Cow  465.000     423.0
4          Grey wolf   36.330     119.5

In [17]:
frame.head()

                name  body_Kg  brain_Kg
0         Arctic fox    3.385      44.5
inf    Not Owl Monke    0.480      15.5
2    Mountain beaver    1.350       8.1
3                Cow  465.000     423.0
4          Grey wolf   36.330     119.5